*{
    border: 0;
    margin: 0;


}
.login-container{
    border: 1px solid black;
    align-items: center;
    display: inline;
    margin-top: 20%;
    margin-left: 40%;
    position: absolute;
    padding: 50px;
    line-height: 40px;
}
.login-text{
    text-align: center;
    text-transform: uppercase;
    font-size: large;
    margin-bottom: 20px;
}
.username{
    display: inline-block;
}
.password{
    display: inline-block;
}
.submit{
    margin-left: 40%;
}
.username-input{
    border: 1px solid black;
    margin-left: 10px;
}
.password-input{
    border: 1px solid black;
    margin-left: 10px;
}
#section-2{
    display: none;
}
.addEmployee{
    margin-left: 45%;
    margin-top: 20px;
    display: none;
}
.addButton{
    padding: 20px;
}
.username-add{
    display: inline-block;
    padding-left: 30px;
}
.email-add{
    display: inline-block;
    padding-left: 30px;
}
.phone-add{
    display: inline-block;
    padding-left: 30px;
}
.email-input{
    border: 1px solid black;
}
.phone-input{
    border: 1px solid black;
}
.add-fields{
    margin-left: 20%;
    margin-top: 20px;
}
.submit-employee{
    padding: 20px;
    margin-left: 30px;
}
#section-3{
    display: none;
}
.table{
    padding: 20px;

    margin-top: 5%;
    margin-left: 30%;
}

td{
    align-items: center;
    padding: 30px;
}

th{
    margin-left: 30px;
    padding: 30px;
}

#section-4{
    display: none;
    margin-left: 40%;
    line-height: 40px;
    margin-top: 50px;
    
}
h6,h3{
    display: inline-block;
}
#giveName{
    padding: 20px;
    display: inline-block;
}
#giveEmail{
    padding: 20px;
    display: inline-block;
}
#givePhone{
    padding: 20px;
    display: inline-block;
}
.back{
    border-radius: 2px;
    background-color: black;
    padding: 10px;
    color: white;
    margin-left: 7%;
    margin-top: 20%;
}